<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meditrackr">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        android:windowSoftInputMode="adjustNothing"
        >

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNKS2wCXodzBcGNKrob7XRwS783ueiCF0"/>

        <activity android:name="com.example.meditrackr.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"

                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.meditrackr.ui.MainActivity"
            android:theme="@style/MainThemeNoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="com.example.meditrackr.ui.patient.MapActivity"
            android:theme="@style/MainThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity android:name="com.example.meditrackr.ui.FullScreenViewActivity"
            android:theme="@style/MainThemeNoActionBar"
            android:windowSoftInputMode="adjustNothing">
        </activity>


    </application>

</manifest>